@* @rendermode InteractiveServer *@

@if(server != null)
{
	<EditForm Model="server" FormName="serverForm" OnValidSubmit="Submit">
		<div data-name="@server.Name" data-status="Server is @(server.IsOnline ? "online" : "offline")" style="@($"color: {(server.IsOnline ? "green" : "red")}")">
			@server.Name is in @server.City and is currently @(server.IsOnline ? "online" : "offline")
			&nbsp;
			<button class="btn btn-primary" type="submit">Turn on/off</button>
		</div>
	</EditForm>
}

@code {
	private Server? server { get; set; } = new Server(){Name = "Server1", City = "Toronto"};

	private void Submit()
	{
		if(server != null)
		{
			server.IsOnline = !server.IsOnline;
		}
	}
}
